<h2>
  Event Types
  <%= create_badge(new_event_type_path) %>
</h2>

<% if @event_types.any? %>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>ID</th>
        <th scope='col'>Name</th>
      </tr>
    </thead>
    <tbody>
      <%= render @event_types %>
    </tbody>
  </table>
<% else %>
  No Event Types
<% end %>
