<h2>New Event Type</h2>

<%= form_with model: @event_type do |f| %>
  <div class='input-group'>
    <%= f.label(:name) %>
    <%= f.text_field(:name, required: true) %>
  </div>
  <%= f.button 'Create', class: 'btn btn-primary'%>
<% end %>
